.details-inner{
    display: flex;
    justify-content: space-between;
}
.details-img{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.detail{
    width: 40%;
    margin: 10px;
}
.details-img img{
    width: 100%;
}
.detail-price{
    width: 40%;
    position:sticky;
    right: 10px;
}
.detail-price>h1{
    font-size: 22px;
    margin-bottom: 40px;
}
.detail-price h3{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 30px;
}
.detail-price p{
    font-size: 15px;
    font-size: 300;
    margin-bottom: 10px;
}
.button-size{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height:50px;
    background-color: #efefef;
    cursor: pointer;
    margin: 30px 0;
}
.button-size>button{
    padding: 10px;
    font-size: 17px;
    font-weight: 200;
    box-sizing: border-box;
    cursor: pointer;
}
.button-size i{
    padding: 15px;
    box-sizing: border-box;
}
.button-add{
    display: flex;
    justify-content: center;
    width: 80%;
    height:50px;
    background-color: #efefef;
    cursor: pointer;
}
.button-add>button{
    font-size: 17px;
    font-weight: 200;
    cursor: pointer;
}
.button-add i{
    padding: 15px;
    box-sizing: border-box;
}
.detail-price img{
    width: 20%;
    border: 1px solid black;
    cursor: pointer;
}
.details-txt{
    margin-top: 50px;
}
.det-descr{
    margin: 20px 0;
}
.det-descr>h1{
    font-size: 16px;
    margin-bottom: 5px;

}
.det-descr>p{
    font-size: 14px;
    font-weight: 300;
}